<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChopperCP's Station</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Pixel CSS -->
    <link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet">
</head>


<body class="bg-secondary text-white">
{#    {% include 'includes/navigation.html' %}#}
<main>

    {% if is_fresh %}
        {% include 'includes/preloader.html' %}
    {% endif %}
    <div class="position-relative">
        <ul class="nav pagination pagination-lg flex-column flex-md-row" id="tabs-text" role="tablist">
            <li class="page-item col-3">
                <a class="page-link mb-sm-3 mb-md-0 border-0 {% if active_nav == 1 %}active{% endif %}"
                   id="tabs-text-1-tab" data-bs-toggle="tab"
                   href="#tabs-text-1" role="tab" aria-controls="tabs-text-1"
                   aria-selected="{% if active_nav == 1 %} true {% else %} false {% endif %}">Hash
                    Calculator</a>
            </li>
            <li class="page-item col-3">
                <a class="page-link mb-sm-3 mb-md-0 border-0 {% if active_nav == 2 %}active{% endif %}"
                   id="tabs-text-2-tab" data-bs-toggle="tab"
                   href="#tabs-text-2" role="tab" aria-controls="tabs-text-2"
                   aria-selected="{% if active_nav == 2 %} true {% else %} false {% endif %}">Encode/Decoder</a>
            </li>
            <li class="page-item col-3">
                <a class="page-link mb-sm-3 mb-md-0 border-0 {% if active_nav == 3 %}active{% endif %}"
                   id="tabs-text-3-tab" data-bs-toggle="tab"
                   href="#tabs-text-3" role="tab" aria-controls="tabs-text-3"
                   aria-selected="{% if active_nav == 3 %} true {% else %} false {% endif %}">RSA Key Generation</a>
            </li>
            <li class="page-item col-3">
                <a class="page-link mb-sm-3 mb-md-0 border-0 {% if active_nav == 4 %}active{% endif %}"
                   id="tabs-text-4-tab" data-bs-toggle="tab"
                   href="#tabs-text-4" role="tab" aria-controls="tabs-text-4"
                   aria-selected="{% if active_nav == 4 %} true {% else %} false {% endif %}">IP to Domain Lookup</a>
            </li>
        </ul>
    </div>
    <div class="section section-xxl">
        <div class="container bg-secondary">
            {% if is_bad_input %}
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% include 'home/bad_input_error.html' %}
                    </div>
                </div>
            {% endif %}

            {#            start of hash tab#}
            <div class="row justify-content-center">
                <div class="col-12">
                    <!-- Tab Nav -->
                    <!-- End of Tab Nav -->
                    <!-- Tab Content -->
                    <div class="card border-0">
                        <div class="card-body p-0 bg-secondary">
                            <div class="tab-content" id="tabcontent1">
                                {#                                Hash table pane#}
                                <div class="tab-pane fade {% if active_nav == 1 %}show active{% endif %}"
                                     id="tabs-text-1" role="tabpanel"
                                     aria-labelledby="tabs-text-1-tab">

                                    <form action="{% url 'index' %}" method="post" id="hash_form">
                                        {% csrf_token %}
                                        <div>
                                            <label for="hash_input"><h3 class="m-0 p-0">Input</h3><br/>(Max length 10000
                                                characters)</label>
                                            <textarea class="form-control" placeholder="" id="hash_input"
                                                      rows="4"
                                                      name="hash_input"
                                                      maxlength="10000">{{ request.POST.hash_input }}</textarea>
                                        </div>

                                        <div class="mt-3 input-group">
                                            <input type="submit" name="hash_action" class="btn btn-primary"
                                                   value="Get Hash Result" aria-label="Check"
                                                   aria-describedby="check-icon">
                                            <span class="input-group-text btn btn-primary" id="check-icon"><span
                                                    class="fas fa-check"></span></span>
                                        </div>
                                        <div class="mt-3 input-group">
                                            <input type="submit" name="hash_action" class="btn btn-primary"
                                                   value="Reverse Lookup" aria-label="Search"
                                                   aria-describedby="search-icon">
                                            <span class="input-group-text btn btn-primary" id="search-icon"><span
                                                    class="fas fa-search"></span></span>
                                        </div>
                                    </form>

                                    <div class="mt-3">
                                        {% if has_reverse_hash_result == False %}
                                            <div class="alert alert-danger" role="alert" id="encode_decode_output">
                                                No results found!
                                            </div>
                                        {% elif has_reverse_hash_result == True %}
                                            <div class="alert alert-info" role="alert" id="encode_decode_output">
                                                {% for result in reverse_hash_result %}
                                                    {{ result|linebreaksbr }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>

                                    {% if has_hash_result %}
                                        <div class="mt-3 table-responsive">
                                            <table class="table table-hover"
                                                   style="table-layout:fixed;over-flow:break-word;">
                                                <tr>
                                                    <th scope="col" id="hash_function_name">Hash function name</th>
                                                    <th scope="col" id="bit_length">Bit length</th>
                                                    <th scope="col" id="result_base64">Result (Base64)</th>
                                                    <th scope="col" id="result_hex">Result (Hex)</th>
                                                </tr>
                                                <tr>
                                                    <th scope="row" id="{{ md5_result.function_name }}"
                                                        rowspan="1">{{ md5_result.function_name }}</th>
                                                    <th scope="row" id="{{ md5_result.bit_length }}"
                                                        headers="{{ md5_result.function_name }} bit_length">{{ md5_result.bit_length }}</th>
                                                    <td headers="{{ md5_result.function_name }} {{ md5_result.bit_length }} result_base64">{{ md5_result.result_base64 }}</td>
                                                    <td headers="{{ md5_result.function_name }} {{ md5_result.bit_length }} result_hex">{{ md5_result.result_hex }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" id="{{ sha1_result.function_name }}"
                                                        rowspan="1">{{ sha1_result.function_name }}</th>
                                                    <th scope="row" id="{{ sha1_result.bit_length }}"
                                                        headers="{{ sha1_result.function_name }} bit_length">{{ sha1_result.bit_length }}</th>
                                                    <td headers="{{ sha1_result.function_name }} {{ sha1_result.bit_length }} result_base64">{{ sha1_result.result_base64 }}</td>
                                                    <td headers="{{ sha1_result.function_name }} {{ sha1_result.bit_length }} result_hex">{{ sha1_result.result_hex }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" id="SHA2" rowspan="5">SHA2</th>
                                                </tr>
                                                <tr>
                                                    <th scope="row" id="{{ sha224_result.bit_length }}"
                                                        headers="{{ sha224_result.function_name }} bit_length">{{ sha224_result.bit_length }}</th>
                                                    <td headers="{{ sha224_result.function_name }} {{ sha224_result.bit_length }} result_base64">{{ sha224_result.result_base64 }}</td>
                                                    <td headers="{{ sha224_result.function_name }} {{ sha224_result.bit_length }} result_hex">{{ sha224_result.result_hex }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" id="{{ sha256_result.bit_length }}"
                                                        headers="{{ sha256_result.function_name }} bit_length">{{ sha256_result.bit_length }}</th>
                                                    <td headers="{{ sha256_result.function_name }} {{ sha256_result.bit_length }} result_base64">{{ sha256_result.result_base64 }}</td>
                                                    <td headers="{{ sha256_result.function_name }} {{ sha256_result.bit_length }} result_hex">{{ sha256_result.result_hex }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" id="{{ sha384_result.bit_length }}"
                                                        headers="{{ sha384_result.function_name }} bit_length">{{ sha384_result.bit_length }}</th>
                                                    <td headers="{{ sha384_result.function_name }} {{ sha384_result.bit_length }} result_base64">{{ sha384_result.result_base64 }}</td>
                                                    <td headers="{{ sha384_result.function_name }} {{ sha384_result.bit_length }} result_hex">{{ sha384_result.result_hex }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row" id="{{ sha512_result.bit_length }}"
                                                        headers="{{ sha512_result.function_name }} bit_length">{{ sha512_result.bit_length }}</th>
                                                    <td headers="{{ sha512_result.function_name }} {{ sha512_result.bit_length }} result_base64">{{ sha512_result.result_base64 }}</td>
                                                    <td headers="{{ sha512_result.function_name }} {{ sha512_result.bit_length }} result_hex">{{ sha512_result.result_hex }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    {% endif %}

                                </div>
                                {#                                End of hash table pane#}

                                {#                                Decode/Encoder#}
                                <div class="tab-pane fade {% if active_nav == 2 %}show active{% endif %}"
                                     id="tabs-text-2" role="tabpanel"
                                     aria-labelledby="tabs-text-2-tab">
                                    <script>
                                        {#make a POST request to select encode/decode#}

                                        function select_encode() {
                                            document.getElementById("encode_or_decode").setAttribute("value", "Encode")
                                        }

                                        function select_decode() {
                                            document.getElementById("encode_or_decode").setAttribute("value", "Decode")
                                        }
                                    </script>
                                    <form action="{% url 'index' %}" method="post" id="encode_decode_form">
                                        {% csrf_token %}
                                        <div>
                                            <label for="encode_decode_input"><h3 class="m-0 p-0">Input</h3><br/>(Max
                                                length 10000 characters)</label>
                                            <textarea class="form-control" placeholder="" id="encode_decode_input"
                                                      rows="4"
                                                      name="encode_decode_input"
                                                      maxlength="10000">{{ request.POST.encode_decode_input }}</textarea>
                                        </div>
                                        {#                                        dropdown button to select decode/encode#}
                                        <div class="mt-3">
                                            <div class="btn-group me-2 mb-2">

                                                <input id="encode_or_decode" name="encode_or_decode" type="text"
                                                       class="btn btn-primary"
                                                       value="{% if is_encode == True %}Encode{% elif is_encode == False %}Decode{% else %}Choose Encode/Decode{% endif %}"
                                                       readonly>

                                                <button type="button"
                                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                                        data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <span class="fas fa-angle-down dropdown-arrow"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu py-0 bg-secondary">
                                                    <a class="dropdown-item rounded-top" onclick="select_encode()">
                                                        Encode
                                                    </a>
                                                    <a class="dropdown-item rounded-bottom" onclick="select_decode()">
                                                        Decode
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        {#                                        select encode/decode algorithm#}
                                        <div class="mt-3">
                                            <h3>Encode/Decode Algorithms</h3>
                                            <div class="container mt-3 p-3">
                                                <div class="row">
                                                    <div class="col mb-5 bg-primary">
                                                        <h5 class="mt-3">Base</h5>
                                                        <input type="submit" class="btn btn-success mb-3"
                                                               name="encode_decode_algorithm" value="Base16">
                                                        <input type="submit" class="btn btn-success mb-3"
                                                               name="encode_decode_algorithm" value="Base32">
                                                        <input type="submit" class="btn btn-success mb-3"
                                                               name="encode_decode_algorithm" value="Base64">
                                                        <input type="submit" class="btn btn-success mb-3"
                                                               name="encode_decode_algorithm" value="Base85">
                                                    </div>

                                                    <div class="col mb-5 bg-primary">
                                                        <h5 class="mt-3">Standard</h5>
                                                        <input type="submit" class="btn btn-info mb-3"
                                                               name="encode_decode_algorithm" value="Hex">
                                                        <input type="submit" class="btn btn-info mb-3"
                                                               name="encode_decode_algorithm" value="URL">
                                                        <input type="submit" class="btn btn-info mb-3"
                                                               name="encode_decode_algorithm" value="Quoted-printable">
                                                        <input type="submit" class="btn btn-info mb-3"
                                                               name="encode_decode_algorithm" value="HTML">
                                                        <input type="submit" class="btn btn-info mb-3"
                                                               name="encode_decode_algorithm" value="Punycode">
                                                    </div>

                                                    <div class="col mb-5 bg-primary">
                                                        <h5 class="mt-3">Misc</h5>
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="UUencode">
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="XXencode">
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="AAencode">
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="JJencode">
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="BubbleBabble">
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="JSFuck">
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="Brainfuck">
                                                        <input type="submit" class="btn btn-warning mb-3"
                                                               name="encode_decode_algorithm" value="社会主义核心价值观">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </form>

                                    {#                                    Output alert and Replace the output to input#}
                                    {% if encode_decode_result and not is_bad_input %}
                                        <script>
                                            function replace_input_from_output() {
                                                document.getElementById("encode_decode_input").innerHTML = document.getElementById("encode_decode_output").innerHTML.replaceAll("<br>", "\n").trim();
                                            }
                                        </script>

                                        <div>
                                            <h3>Result</h3>
                                        </div>
                                        <div class="row">
                                            <div class="alert alert-info" role="alert" id="encode_decode_output"
                                                 onload="aadecode()">
                                                {% if encode_decode_result.algorithm == "AAencode" and encode_decode_result.is_encode == False %}
                                                    <script>
                                                        let setInnerHTML = function (elm, html) {
                                                            elm.innerHTML = html;
                                                            Array.from(elm.querySelectorAll("script")).forEach(oldScript => {
                                                                const newScript = document.createElement("script");
                                                                Array.from(oldScript.attributes)
                                                                    .forEach(attr => newScript.setAttribute(attr.name, attr.value));
                                                                newScript.appendChild(document.createTextNode(oldScript.innerHTML));
                                                                oldScript.parentNode.replaceChild(newScript, oldScript);
                                                            });
                                                        };

                                                        function aadecode() {
                                                            text = document.getElementById("encode_decode_input").innerHTML;
                                                            let evalPreamble = "(\uFF9F\u0414\uFF9F) ['_'] ( (\uFF9F\u0414\uFF9F) ['_'] (";
                                                            let decodePreamble = "( (\uFF9F\u0414\uFF9F) ['_'] (";
                                                            let evalPostamble = ") (\uFF9F\u0398\uFF9F)) ('_');";
                                                            let decodePostamble = ") ());";

                                                            // strip beginning/ending space.
                                                            text = text.replace(/^\s*/, "").replace(/\s*$/, "");

                                                            // returns empty text for empty input.
                                                            if (/^\s*$/.test(text)) {
                                                                return "";
                                                            }
                                                            // check if it is encoded.
                                                            if (text.lastIndexOf(evalPreamble) < 0) {
                                                                throw new Error("Given code is not encoded as aaencode.");
                                                            }
                                                            if (text.lastIndexOf(evalPostamble) !== text.length - evalPostamble.length) {
                                                                throw new Error("Given code is not encoded as aaencode.");
                                                            }

                                                            let decodingScript = text.replace(evalPreamble, decodePreamble).replace(evalPostamble, decodePostamble);
                                                            console.log(eval(decodingScript));
                                                            setInnerHTML(document.getElementById("encode_decode_output"), eval(decodingScript));
                                                        }

                                                        {#auto execute when page is loaded#}
                                                        window.onload = aadecode();
                                                    </script>
                                                {% else %}
                                                    {{ encode_decode_result.result|linebreaksbr }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button class="btn btn-primary" type="button"
                                                    onclick="replace_input_from_output()">
                                                Replace Input
                                                <span><span class="fas fa-arrow-up"></span></span>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                {#                                End of Decoder/Encoder#}


                                {#                                start of RSA key generation#}
                                <div class="tab-pane fade {% if active_nav == 3 %}show active{% endif %}"
                                     id="tabs-text-3" role="tabpanel"
                                     aria-labelledby="tabs-text-3-tab">

                                    <div class="alert alert-info" role="alert">
                                        Generating a RSA key (1024 bits) which involves generating big primes which may
                                        take some time... <br>
                                        And don't worry, this site will never store your keys (source code available)
                                    </div>

                                    <form action="{% url 'index' %}" method="post" id="gen_rsa_key_form">
                                        {% csrf_token %}
                                        <div class="mt-3 input-group">
                                            <input type="submit" name="gen_rsa_key" class="btn btn-primary"
                                                   value="Generate RSA key" aria-label="Check"
                                                   aria-describedby="check-icon">
                                            <span class="input-group-text btn btn-primary" id="check-icon"><span
                                                    class="fas fa-check"></span></span>
                                        </div>
                                    </form>

                                    {% if has_rsa_key_result == True %}
                                        <form action="{% url 'index' %}" method="post" id="gen_rsa_key_form">
                                            {% csrf_token %}
                                            <div class="mt-3 input-group">
                                                <input type="submit" name="download_rsa_key_file"
                                                       class="btn btn-primary"
                                                       value="Download Key File(PEM)" aria-label="Check"
                                                       aria-describedby="check-icon">
                                                <span class="input-group-text btn btn-primary" id="check-icon"><span
                                                        class="fas fa-download"></span></span>
                                            </div>
                                        </form>
                                        <table class="table table-hover mt-3"
                                               style="table-layout:fixed;over-flow:break-word;">
                                            <tr>
                                                <th scope="col" id="field">Field</th>
                                                <th scope="col" id="value">Value</th>
                                            </tr>
                                            <tr>
                                                <th scope="row" id="p"
                                                    rowspan="1">p
                                                </th>
                                                <td headers="p value">{{ rsa_key_pair.p }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" id="p"
                                                    rowspan="1">q
                                                </th>
                                                <td headers="p value">{{ rsa_key_pair.q }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" id="p"
                                                    rowspan="1">n
                                                </th>
                                                <td headers="p value">{{ rsa_key_pair.n }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" id="p"
                                                    rowspan="1">e
                                                </th>
                                                <td headers="p value">{{ rsa_key_pair.e }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" id="p"
                                                    rowspan="1">φ
                                                </th>
                                                <td headers="p value">{{ rsa_key_pair.phi }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" id="p"
                                                    rowspan="1">d
                                                </th>
                                                <td headers="p value">{{ rsa_key_pair.d }}</td>
                                            </tr>
                                        </table>
                                    {% endif %}
                                </div>
                                {#                                end of RSA key generation#}


                                {#                                start of IP to Domain lookup#}
                                <div class="tab-pane fade {% if active_nav == 4 %}show active{% endif %}"
                                     id="tabs-text-4" role="tabpanel"
                                     aria-labelledby="tabs-text-4-tab">


                                    <form action="{% url 'index' %}" method="post" id="hash_form">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label for="IPToDomainLookup">IP</label>
                                            <input name="ip" type="text" class="form-control" id="IPToDomainLookup">
                                        </div>

                                        <div class="mt-3 input-group">
                                            <input type="submit" name="ip-to-domain-lookup" class="btn btn-primary"
                                                   value="IP Lookup" aria-label="Search"
                                                   aria-describedby="search-icon">
                                            <span class="input-group-text btn btn-primary" id="search-icon"><span
                                                    class="fas fa-search"></span></span>
                                        </div>
                                    </form>

                                    <div class="mt-3">
                                        {% if has_ip_to_domain_result == False %}
                                            <div class="alert alert-danger" role="alert" id="encode_decode_output">
                                                No results found!
                                            </div>
                                        {% elif has_ip_to_domain_result == True %}
                                            <div class="alert alert-info" role="alert" id="encode_decode_output">
                                                {% for result in ip_to_domain_result %}
                                                    {{ result | linebreaksbr }}<br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {#                                end of IP to Domain lookup#}
                            </div>
                        </div>
                    </div>
                    <!-- End of Tab Content -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Tab Section -->


</main>
{#    {% include 'includes/footer.html' %}#}
{% include 'includes/scripts.html' %}

</body>
</html>